.rotated-n10 {
  transform: rotate(-5deg);
}

.rotated-p10 {
  transform: rotate(5deg);
}

.w-50 {
  width: 50%;
}
.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}
.border-l {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-left: solid 1px;
}

.border-r {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-right: solid 1px;
}

.mb-2 {
  margin-bottom: 2em;
}

.border-2 {
  border: solid 2px;
}
