.white-black-label {
  border: solid 0.15rem;
  display: inline-block;
  padding: 0.6em;
  text-transform: uppercase;
  background: $color-white;
  width: max-content;
}

.btn-bw {
  color: $color-white;
  background: $color-black;
  text-transform: uppercase;
  padding: 1em 5em;
  border-radius: 100px;
  display: inline-block;
  width: max-content;
}

.btn-underscore {
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 1em;
  width: max-content;
}

.btn-wb {
  color: $color-black;
  background: $color-white;
  text-transform: uppercase;
  padding: 0.85em 5em;
  border-radius: 100px;
  display: inline-block;
  border: 0.15em solid;
  width: max-content;
}
