.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col-half {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-around {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
