.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.row-between {
  justify-content: space-between;
  padding: 5rem;
}

.row-center {
  align-items: center;
}
.col {
  width: 50%;
}
.col-between {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.col-around {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .row {
    display: block;
  }
  .col {
    width: 100%;
  }
}
