.artist__left {
  background: $color-yellow;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.artist__right {
  display: block;
}
.artist__p {
  font-size: 1.7rem;
  font-weight: 500;
}

.artist__btn {
  font-size: 2rem;
}
