/* section crowdfunction and sells */

.two-cols {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.section-yellow {
  padding: 2rem;
  background: $color-yellow;
}
.section-grey {
  padding: 2rem;
  background: $color-grey;
}

/* not the ideal solution */
.margin-bottom {
  margin-bottom: 4.7rem;
}

.two-cols__img {
  width: 80%;
  margin-bottom: 3rem;
}

.bottom-layout {
  justify-content: space-around;
  background: $color-black;
  color: $color-white;
  display: flex;
  padding: 4.5em 5em;
  flex-wrap: wrap;
}

.bottom-layout__a {
  text-decoration: underline;
  color: $color-white;
  text-transform: uppercase;
}
