/* section crowdfunction and sells */

.two-cols {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.section-yellow {
  padding: 2rem;
  background: $color-yellow;
  border: solid;
  border-right: 1.5px solid;
}
.section-grey {
  padding: 2rem;
  background: $color-grey;
  border: solid;
  border-left: 1.5px solid;
}

/* not the ideal solution */
.margin-bottom {
  margin-bottom: 4.7rem;
}

.two-cols__img {
  width: 80%;
  margin-bottom: 3rem;
}

.bottom-layout {
  background: $color-black;
  color: $color-white;
  display: flex;
  padding: 2em 5em;
  gap: 4em;
  flex-wrap: wrap;
}

.bottom-layout__a {
  text-decoration: underline;
  color: $color-white;
  text-transform: uppercase;
}
