.ft-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  padding: 10rem 0;
}
.ft-main-item a {
  min-width: 12.5rem /*200px*/;
  color: $color-white;
  line-height: 2rem;
}

.c-white {
  color: $color-white;
  margin-left: 1rem;
}

.c-white + .c-white {
  margin-left: 10px;
}

.footer__color {
  background: $color-black;
  color: $color-white;
}

.ft-social-list {
  display: flex;
  justify-content: right;
  padding: 2rem 0;
}

.ft-legal-list {
  display: flex;
  font-size: 14px;
}

@media (max-width: 1100px) {
  .footer__logo {
    text-align: center;
  }
  .row-between {
    display: block;
  }
  .ft-legal-list,
  .ft-social-list {
    justify-content: center;
  }
}
