.insta__photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  position: relative;
}

.insta__img {
  width: 25%;
  display: block;
  float: left;
  flex: 0 0 auto;
  border: 2px solid;
}

.insta__eyes {
  position: absolute;
  right: 5%;
  top: -10%;
  max-width: 15%;
  z-index: 1;
}

@media (max-width: 1000px) {
  .insta__img {
    width: 50%;
  }

  .insta__eyes {
    top: -3%;
    right: 15%;
    position: absolute;
  }
}
