.intro__left {
  width: 40%;
  padding: 2rem;
}

.intro__left {
  width: 40%;
  padding: 2rem;
}
.intro__right {
  width: 60%;
  margin-top: 7rem;
  overflow: hidden;
  border: solid 2px;
}

.row__intro {
  align-items: center;
}
.intro2__left {
  width: 60%;
  margin-top: -5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  border: solid 2px;
}

.intro2__right {
  margin-left: 10%;
  width: 20%;
  height: auto;
}

.intro__bottom {
  text-align: center;
  padding: 4rem 0;
  border-top: 2px solid;
  margin: 0;
  margin-top: -5rem;
}

.intro__topcurrent {
  filter: invert(100%);
  width: 2.5em;
  position: absolute;
  display: inline;
  left: 2.5rem;
  bottom: 0;
}
.intro__barriers {
  position: relative;
}
