.two-cols__left-record {
  text-align: center;
}

.two-cols__img-record {
  width: 80%;
  border: 2px solid;
}
.two-cols__img-container {
  margin: 2rem 0rem 2rem 0rem;
}

.two-cols__right-tabs {
  border: 2px solid;
  margin: 2rem auto;
}

.right-tabs__black {
  background: $color-black;
  color: $color-white;
  padding: 1em 0 2em 1.1em;
  margin: 0;
}

.left-record__title {
  color: $color-white;
  text-shadow: $color-black 1.2px 1.2px, $color-black -1.2px 1.2px,
    $color-black -1.2px -1.2px, $color-black 1.2px -1.2px;
  font-size: 2rem;
}
