.retail__left {
  background: $color-black;
  padding-bottom: 3rem;
}

.retail__right {
  background: $color-pink;
  padding-bottom: 3rem;
}

.retail__img {
  width: 90%;
  border: solid;
  margin-top: 2em;
  margin-bottom: 5em;
}

.font-w {
  color: $color-white;
}

.bottom-layout-retail {
  text-align: center;
  padding: 5rem;
}
