/* Reusable class components */

.white-black-label {
  border: solid 0.15rem;
  display: inline-block;
  padding: 0.6em;
  text-transform: uppercase;
  background: var(--white);
}

.black-white-button {
  color: var(--white);
  background: var(--black);
  text-transform: uppercase;
  padding: 1em 5em;
  border-radius: 100px;
}

.two-cols__img {
  width: 80%;
  margin-bottom: 3rem;
}

/* not the ideal solution */
.margin-bottom {
  margin-bottom: 4.7rem;
}
