@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/QratesBasis-Black-109f4f322c9eeaab99bde40068ceb72d6b41153759fac746be9c93ae3b4cd3a9.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/QratesBasis-Bold-bac616147a9ef9f7274551718c7e1e54f47c5aebec4b41ae2a16f5c85d429e40.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/QratesBasis-Medium-c0445e72fcf1fa067318ff69af98716ba8c7f8ad1cd87e7fef88735f862cb2ba.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/pictogram-20117bbd6cdba3a36a07bf41418a41b36bdc634da14562b49605994a0a0bc035.woff");
  font-weight: 300;
}
body {
  font-family: "QratesBasis";
}

.white-black-label {
  border: solid 0.15rem;
  display: inline-block;
  padding: 0.6em;
  text-transform: uppercase;
  background: #fff;
  width: max-content;
}

.btn-bw {
  color: #fff;
  background: #000;
  text-transform: uppercase;
  padding: 1em 5em;
  border-radius: 100px;
  display: inline-block;
  width: max-content;
}

.btn-underscore {
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 1em;
  width: max-content;
}

.btn-wb {
  color: #000;
  background: #fff;
  text-transform: uppercase;
  padding: 0.85em 5em;
  border-radius: 100px;
  display: inline-block;
  border: 0.15em solid;
  width: max-content;
}

.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col-half {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-around {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-top: 2px solid;
  outline: none;
  transition: 0.4s;
  margin: 0;
  font-weight: 500;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}

header {
  margin: 1em;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

li,
a {
  color: black;
  text-decoration: none;
}

li + li {
  margin-left: 15px;
}

.logo {
  width: 100%;
  height: 100%;
}

.header__logo {
  width: 30px;
}

.header__record-button {
  display: inline-block;
  background: #000;
  color: #fff;
  border-radius: 100px;
  padding: 1rem 2rem;
  margin-left: 15px;
}

/* section crowdfunction and sells */
.two-cols {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.section-yellow {
  padding: 2rem;
  background: #fff804;
  border: solid;
  border-right: 1.5px solid;
}

.section-grey {
  padding: 2rem;
  background: #81836c;
  border: solid;
  border-left: 1.5px solid;
}

/* not the ideal solution */
.margin-bottom {
  margin-bottom: 4.7rem;
}

.two-cols__img {
  width: 80%;
  margin-bottom: 3rem;
}

.bottom-layout {
  background: #000;
  color: #fff;
  display: flex;
  padding: 2em 5em;
  gap: 4em;
  flex-wrap: wrap;
}

.bottom-layout__a {
  text-decoration: underline;
  color: #fff;
  text-transform: uppercase;
}

.two-cols__left-record {
  width: 50%;
  padding: 2rem;
  text-align: center;
}

.two-cols__img-record {
  width: 80%;
  border: solid;
}

.two-cols__img-container {
  margin: 3rem;
}

.rotated {
  transform: rotate(-10deg);
}

.two-cols__right-tabs {
  width: 50%;
  margin: 4rem;
  border: 2px solid;
}

.right-tabs__black {
  background: #000;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1.1rem;
  margin: 0;
}

.left-record__title {
  color: #fff;
  text-shadow: #000 1.2px 1.2px, #000 -1.2px 1.2px, #000 -1.2px -1.2px, #000 1.2px -1.2px;
  font-size: 2rem;
}

.retail__left {
  background: #000;
  padding-bottom: 3rem;
}

.retail__right {
  background: #e280ff;
  padding-bottom: 3rem;
}

.retail__img {
  width: 90%;
  border: solid;
  margin-top: 2em;
  margin-bottom: 5em;
}

.font-w {
  color: #fff;
}

.bottom-layout-retail {
  text-align: center;
  padding: 5rem;
}

/*# sourceMappingURL=style.css.map */
