@charset "UTF-8";
.rotated-n10 {
  transform: rotate(-5deg);
}

.rotated-p10 {
  transform: rotate(5deg);
}

.w-50 {
  width: 50%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.border-l {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-left: solid 1px;
}

.border-r {
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-right: solid 1px;
}

.mb-2 {
  margin-bottom: 2em;
}

.border-2 {
  border: solid 2px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
ul,
li,
nav {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/QratesBasis-Black-109f4f322c9eeaab99bde40068ceb72d6b41153759fac746be9c93ae3b4cd3a9.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/QratesBasis-Bold-bac616147a9ef9f7274551718c7e1e54f47c5aebec4b41ae2a16f5c85d429e40.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/QratesBasis-Medium-c0445e72fcf1fa067318ff69af98716ba8c7f8ad1cd87e7fef88735f862cb2ba.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "QratesBasis";
  src: url("../../public/assets/font/pictogram-20117bbd6cdba3a36a07bf41418a41b36bdc634da14562b49605994a0a0bc035.woff");
  font-weight: 300;
}
body {
  font-family: "QratesBasis";
  font-size: 18px;
}

.white-black-label {
  border: solid 0.15rem;
  display: inline-block;
  padding: 0.6em;
  text-transform: uppercase;
  background: #fff;
  width: max-content;
}

.label-black-white {
  border: solid #fff 0.15rem;
  display: inline-block;
  padding: 0.6em;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  width: max-content;
}

.btn-bw {
  color: #fff;
  background: #000;
  text-transform: uppercase;
  padding: 1em 5em;
  border-radius: 100px;
  display: inline-block;
  width: max-content;
}

.btn-underscore {
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 1em;
  width: max-content;
}

.btn-wb {
  color: #000;
  background: #fff;
  text-transform: uppercase;
  padding: 0.85em 5em;
  border-radius: 100px;
  display: inline-block;
  border: 0.15em solid;
  width: max-content;
}

.btn-circle {
  background: #fff804;
  border: solid 2px;
  border-radius: 50%;
  padding: 0.7rem;
  font-size: 1rem;
}

.btn-circle + .btn-circle {
  margin-left: 0.3rem;
}

.btn-y {
  text-transform: uppercase;
  background: #fff804;
  padding: 1.5em 6em;
  border-radius: 100px;
  margin: 5rem 0;
  display: inline-block;
}

.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  width: 50%;
}

.col-between {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.col-around {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .row {
    display: block;
  }

  .col {
    width: 100%;
  }
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-top: 2px solid;
  outline: none;
  transition: 0.4s;
  margin: 0;
  font-weight: 500;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}

header {
  margin: 1em;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.header__li a,
.header__a {
  color: black;
  text-decoration: none;
}

.header__li + .header__li {
  margin-left: 15px;
}

.logo {
  width: 100%;
  height: 100%;
}

.header__logo {
  width: 30px;
}

.header__record-button {
  display: inline-block;
  background: #000;
  color: #fff;
  border-radius: 100px;
  padding: 1rem 2rem;
  margin-left: 15px;
  text-decoration: none;
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

@media (max-width: 1000px) {
  nav,
.header__right {
    display: none;
  }

  .icon {
    display: block;
  }
}
.row__intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.row__intro1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.intro__left {
  width: 30%;
  padding: 2rem;
}

.intro__right {
  width: 70%;
  margin-top: 7rem;
}

.intro2__left {
  width: 50%;
  margin-top: -5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  border: solid 2px;
}

.intro2__right {
  margin-left: 10%;
  width: 20%;
  height: auto;
}

.intro__bottom {
  text-align: center;
  padding: 6rem 0;
  border-top: 2px solid;
  margin: 0;
  margin-top: -5rem;
  justify-content: space-between;
  font-size: 19px;
}

.intro__topcurrent {
  filter: invert(100%);
  width: 2.5em;
  position: absolute;
  display: inline;
  left: 2.5rem;
  bottom: 0;
}

.intro__barriers {
  position: relative;
}

@media (max-width: 1000px) {
  .intro__left {
    width: 100%;
  }

  .row__intro1 {
    flex-direction: row-reverse;
  }

  .intro__right {
    margin-top: 2rem;
  }
}
/* section crowdfunction and sells */
.two-cols {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.section-yellow {
  padding: 2rem;
  background: #fff804;
}

.section-grey {
  padding: 2rem;
  background: #81836c;
}

/* not the ideal solution */
.margin-bottom {
  margin-bottom: 4.7rem;
}

.two-cols__img {
  width: 80%;
  margin-bottom: 3rem;
}

.bottom-layout {
  justify-content: space-around;
  background: #000;
  color: #fff;
  display: flex;
  padding: 2em 5em;
  flex-wrap: wrap;
}

.bottom-layout__a {
  text-decoration: underline;
  color: #fff;
  text-transform: uppercase;
}

.artist__left {
  background: #fff804;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.artist__p {
  font-size: 1.7rem;
  font-weight: 500;
}

.artist__btn {
  font-size: 2rem;
}

.two-cols__left-record {
  text-align: center;
}

.two-cols__img-record {
  width: 80%;
  border: 2px solid;
}

.two-cols__img-container {
  margin: 2rem 0rem 2rem 0rem;
}

.two-cols__right-tabs {
  border: 2px solid;
  align-items: center;
  margin: 2rem auto;
}

.right-tabs__black {
  background: #000;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1.1rem;
  margin: 0;
}

.left-record__title {
  color: #fff;
  text-shadow: #000 1.2px 1.2px, #000 -1.2px 1.2px, #000 -1.2px -1.2px, #000 1.2px -1.2px;
  font-size: 2rem;
}

.retail__left {
  background: #000;
  padding-bottom: 3rem;
}

.retail__right {
  background: #e280ff;
  padding-bottom: 3rem;
}

.retail__img {
  width: 100%;
  border: 2px solid;
  margin-top: 2em;
  margin-bottom: 5em;
}

.font-w {
  color: #fff;
}

.bottom-layout-retail {
  text-align: center;
  padding: 5rem;
}

.insta__photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  position: relative;
}

.insta__img {
  width: 25%;
  display: block;
  float: left;
  flex: 0 0 auto;
  border: 2px solid;
}

.insta__eyes {
  position: absolute;
  right: 5%;
  top: -10%;
  max-width: 15%;
  z-index: 1;
}

@media (max-width: 1000px) {
  .insta__img {
    width: 50%;
  }

  .insta__eyes {
    top: -3%;
    right: 15%;
    position: absolute;
  }
}
.banner {
  display: flex;
  justify-content: space-between;
}

.banner a {
  text-decoration: underline;
}

.banner li {
  display: inline-block;
  padding: 3rem;
  font-size: 1.3em;
  text-transform: uppercase;
}

.studio {
  background: #000;
  color: #fff;
  padding-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studio__title {
  position: relative;
  display: inline;
}

.studio__sticker {
  position: absolute;
  width: 7rem;
  bottom: -1rem;
  left: 0.5rem;
}

.ft-main {
  display: flex;
  flex-wrap: wrap;
  background: #000;
  color: #fff;
  justify-content: space-around;
  text-align: left;
}

.ft-main-item a {
  min-width: 12.5rem;
  color: #fff;
  line-height: 2rem;
}

/*# sourceMappingURL=style.css.map */
